@import 'variables';

body {
  color: #222;
  background: transparent url('/assets/octo-blue-wallpaper1.png') top left repeat;
}

/*    skip-link   */
.visually-hidden-focusable {
  &:focus {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 100;
    background: black;
    color: white;
    outline: 4px solid white;
    border-radius: 5px;
    width: auto;
    padding: 0.5rem 1rem;
  }
}

/*  bootstrap icons */
.bi {
  font-size: 1.1rem;
}

//--    header  
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: $octo-green100; 
  color: white;
  border-bottom: 7px double white;
  margin-bottom: 1rem;

  .bi {
    font-weight: bold;
    color: white;
  }
  .navbar-brand {
    display: inline-block;
    margin: 0 0.5rem 0 0.5rem;
    color: white;
  }
  .navbar-toggler {
    margin-right: 1.25rem !important;
    border: 1px solid whitesmoke;

    &:hover ,
      &:focus {
        background: $octo-green400;
    }
  
  }
  .collapse.show {
    margin-top: 1rem !important;
  }
}
.header-logo {
  height: 2.5rem !important;
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
  border: 3px solid #fff;
  border-bottom: 5px solid #fff;
  box-shadow: -2px 0 8px #111;
  transform: rotate(-10deg);
}
#topNavBar {
  a.nav-link {
    padding: .5rem .75rem;
    margin-bottom: 2px;
    color: white;
    border-radius: 4px;

    &:hover,
    &:focus {
      background: $octo-green400;
      color: white;
    }

    &.active {
      background: white;
      color: $octo-blue100;
    }
  }
}

//--  start of main
main {
  margin-top: 5rem !important;
  min-height: calc(100vh - 145px) !important;

  iframe {
    @include drop-shadow;
    height: 30vh !important;
    width: 100%;
  }

  figure {    
    figcaption {
      text-align: center;
      background: white;
        color: black;
        padding: 1rem;
        border-radius: .25rem;
    }
  }

  .card {
    margin-bottom: 2rem !important;

    .card-header  {
      background: $octo-blue300;
      color: white;
      font-weight: 500;
      font-size: 1.35rem;
      
      .bi {
        color: $octo-blue300;
        background: white;
        padding: .35rem;
        border-radius: .5rem;
        margin-right: .75rem;
        font-size: 1.1rem !important;
      }

      small { 
        font-size: 0.8rem;
        padding-bottom: 1rem !important;
      }
    }

    .card-body {
      background: white;
      border-radius:  0  0 1rem 1rem !important;

      .date {
        font-size: .8rem;
        display: block;
        margin-bottom: 1.5rem;
        border-bottom: 1px dotted #ccc;
      }

      blockquote {
        border-left: 5px solid cornflowerblue;
        padding: .5rem 1rem;
        font-size: 1.75rem;
        font-weight: 400;
      }
      img.img-thumbnail {
        width: 45%;
        margin: 0 0 5% 5%;
      }

      .blog-post {
        p:first-child {
          font-weight: 200;
          font-size: 1.65rem;
        }
        img {
          max-width: 98%;
          @include drop-shadow;
          margin: 1rem 1% 2rem;
        }
      }
      .blog-post-preview  {
        height: 170px !important;
        max-width: 100%;
        overflow-y: hidden;
      }
      
    }

    .card-footer {
        background: $darkcamo;
        color: white;
        padding: .75rem;
        text-transform: uppercase;
        font-size: .85rem;

        a {
            color: white;
            &:hover {
                color: $lightcamo;
            }
            &:focus {
                color: $darkcamo;
                outline: 2px solid $sandcamo;
            }
        }
    }

    .post-link {
      clear: both;
      border: 1px solid $octo-blue100;
      border-radius: .25rem;
      color: black;
      text-decoration: none;
      padding: .5rem;  
      margin-top: 0;
      float: right;
      &:hover {
        background: $octo-blue400;
        color: white;
      } 
      &:focus {
        background: white;
        outline: 3px solid $octo-blue300;
        margin: .25rem;
        border-radius: 3px;
      }
    }
  }

  a {
    color: $claret;
    text-decoration: underline;
    padding: 0.25rem 0.5rem;

    &:focus {
      background: white;
      text-decoration: none;
      outline: 3px solid $claret;
      border-radius: 3px;
    }
  }

  h1 > .bi {
    font-size: 1.5rem;
    color: $claret;
    background: $amber;
    border-radius: .5rem;
    margin-right: .5rem;
    padding: .3rem .5rem;
  }

  .mfc-logo {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .matchesgrid {
    display: block;
    height: 400px;
    width: 100%;

    .ag-header {
      background: $amber;
    }
    .ag-header-cell-label {
      color: $claret;
      font-weight: bold;
    }
  }

  .code-sample {
    display: block;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 1rem !important;
    background: #313131;
    color: #ebd280;
    padding: 0.75rem 1rem 0.5rem;
    font-size: 0.9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', sans-serif;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 5px #444;
  }

  .goals-list {
    li {
      border-radius: 8px !important;
      margin-bottom: 5px;
      box-shadow: 0 0 4px #ccc;

      .badge {
        font-weight: normal;
        font-size: 1rem;
        float: right;
      }
    }
    li:nth-child(odd) {
      border: 1px solid $claret;
      .badge {
        background: $claret !important;
      }
    }
    li:nth-child(even) {
      border: 1px solid $amber;
      .badge {
        background: $amber !important;
      }
    }
  }

  .matchcards {
    .card {
      margin-bottom: 1rem;
      .card-body {
        text-align: center;

        .homescore,
        .awayscore {
          font-size: 3rem;
        }

        .mfc {
          display: inline-block;
          font-weight: bold;
          color: $claret;
          background: $amber;
          border: 1px solid #222;
          border-radius: 8px !important;
          box-shadow: 0 2px 4px #888;
          min-width: 3.5rem;
          width: auto;
          padding: 0.25rem 0.5rem;
        }
      }
      .card-footer {
        background: $octo-blue400;
      }
    }
  }

  @media screen and (max-width: 768px) {
    img.img-thumbnail {
      float: none !important;
      width: 98% !important;
      margin: 1rem 1% 2rem !important;
    } 
  }

  //-- Random User id's
  .users {
    display: block;
    margin: 0;

    .user {
      border: 3px double $octo-green400;
      box-shadow: 0 0 8px $octo-green100;
      padding: .5rem;
      background: #fff;
      font-size: 0.98rem;
        
      .name {
        font-weight: 400;
        color: #222;
        margin: 1rem;
      }
      
      .picture {
        float:right;
        margin: 1rem .5rem 1rem 1.5rem;
        border: 10px solid #fff;
        box-shadow: 0 1px 3px #444;
      }

      .address {
        display: block;
        height: 6.5rem;
        margin: 1rem;
      }

      .contact {
        font-size: 0.98rem;
        margin: 0 1rem 1rem;

        .fa {
          margin: 0 .5rem .5rem;
          width: 1.5rem;
          color: #f90;
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }
  }

  //--  cv timeline
  .cvtimeline {

    ul {
      list-style-type: none;
      padding: 0;

      li {
        padding: .5rem ;
        margin: 0 0 .5rem;
        border: 1px solid transparent;

        &:hover {
          border: 1px dotted $amber;
          box-shadow: 0 0 .25rem $amber;
        }

        .date {
          float: left;
          text-align: center;
          width: 33%;
          font-size: 0.8rem;
          height: 26px;
          line-height: 26px;
          border-bottom: 1px dotted $amber;
          background: white
        }
        .role {
          float: left;
          text-align: left;
          padding-left: .5rem;
          margin-left: 2%;
          width: 63%;
        }
        .company {
          clear: both;
          width: 63%;
          margin: .5rem 0 0 35%;
          font-size: .8rem;
          font-weight: 500;
          line-height: 1.5rem;
          padding-left: .5rem;
          background: white;
          color: $claret;
        }

        small {
          font-size: .75rem;
        }
      }
    }
  }

  //--  blog nav list
  nav .card .card-header {
    padding: 1rem 1rem 0;

    h2 {
      font-weight: 200;
      font-size: 1.5rem;
    }
  }
  .blog-nav-list {
    margin: 0;
    padding: 0;
    max-height: 60vh;
    overflow-y: auto;
    border: 1px solid $octo-blue400;

    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #ededed;

      a { 
        display: block;
        padding: 0.5rem;
        margin: 0;
        text-decoration: none;

        &:hover {
          background: $octo-blue100;
          color: white;
        }

        &.active {
          background: $octo-blue400;
          color: white;
        }

        .bi {
          padding: .35rem;
          background: $octo-blue300;
          color:white;
          border-radius: 6px;
        }

        .title {
          font-weight: 200;
          font-size: 1.3rem;
        }
      }
    }
  }

}
//--  end of #main


//--  football
.football-page {
  .row {
    padding: 1rem .25rem;
    background: rgba(255,255,255,0.5);

    .row {
      background: transparent;
    }
  }

  
  
}

//-- guess what this is...
footer.footer {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1rem 1rem .5rem;
  border-top: 9px double $octo-blue100;
  line-height: normal;
  text-align: center;
  background: darken($darkcamo, 5%);
  color: white;
  font-size: 0.9rem;
}