$claret: #54192d;
$amber: #f8af2f;

/*    header  */
.navbar {
  .bi {
    font-weight: bold;
  }
}
.header-logo {
  height: 2.5rem !important;
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
  border: 3px solid #fff;
  border-bottom: 5px solid #fff;
  box-shadow: -2px 0 8px #111;
  transform: rotate(-10deg);
}

#topNavBar {
  a.nav-link {
    padding: 0.5rem 1rem;
  }
}

main {
  min-height: calc(95vh - 4.5rem) !important;

  .matchesgrid {
    display: block;
    height: 400px;
    width: 100%;

    .ag-header {
      background: $amber;
    }
    .ag-header-cell-label {
      color: $claret;
      font-weight: bold;
    }
  }

  .code-sample {
    display: block;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 1rem !important;
    background: #313131;
    color: #ebd280;
    padding: 0.75rem 1rem 0.5rem;
    font-size: 0.9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', sans-serif;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 5px #444;
  }
}

footer.footer {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  border-top: 5px solid #f90;
  line-height: normal;
  text-align: center;
  background: #444;
  color: white;
  font-size: 0.9rem;
}

/*  bootstrap icons */
.bi {
  transition: transform 0.2s;
  font-size: 1.2rem;

  &:hover {
    transform: scale(1.5);
    cursor: pointer;
  }
}
.card-header .bi {
  margin-right: 1.5rem;
}
