$claret: #54192d;
$amber: #f8af2f;
$darkcamo: #1d2d22;
$midcamo: #45573d;
$lightcamo: #8c9556;
$sandcamo: #d9d188;

$lightblue: #96e2f6;

//-- octonauts
$octo-orange100: #e6c212;
$octo-orange200: #e2a900;
$octo-orange300: #e3991e;
$octo-orange400: #e95110;

$octo-green100: #558224;
$octo-green200: #64a321;
$octo-green300: #53921f;
$octo-green400: #449d65;

$octo-blue100: #58a3a9;
$octo-blue200: #32b4ce;
$octo-blue300: #006079;
$octo-blue400: #035ba3;

@mixin drop-shadow {
    box-shadow: 0 5px 10px $darkcamo;
    //  border-radius: 1rem;
    border: 1px solid black;
}